.Header {
    width: 100%;
    height: 50px;
    background: #151515;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    padding-left: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

.connectWallet {
    float: right;
    margin-right: 10%;
    margin-top: 9px;
    cursor: pointer;
}

.logo {
    float: left;
}

.link {
    width: 300px;
    float: left;
}

.link li {
    color: #fff;
    float: left;
    width: 100px;
    text-align: center;
}

.link li a {
    color: #fff;
}
